h1{
    font-size: 12vw;
}

h2{
    font-size: 2vw;
}

.h22{
    font-size: 30px;
    text-decoration:underline overline;
    text-decoration-thickness: 1.5px;    
}

body{
    background-color: darkcyan;
    font-family:"PT Sans Narrow", sans-serif;
    color: gainsboro;
    padding-top: 90px;
}


nav{
    position: fixed;
    top:10px;
    width: 98%;
    text-align:center;
    font-size:25px;
    background-color: darkgray;
    line-height: 2px;
    padding-right:20px;
    
}

ul{
    
    position:relative;
}

ul.about{
    position:relative;
    font-style: italic;
    
}

li{
    display: inline;
    padding: 50px;

}

li.about{
    padding: 6px;
    
}

a{
    color:darkcyan;
}

a:hover{
    background-color: cornflowerblue;
    padding: 9px;
}

main{
    text-align: center;
}

p{
    font-size:25px;
    padding-bottom: 80px;
}

.wrapper{
    padding: 10px 60px;
    
}